<!DOCTYPE html>
<html lang="ca">

<head>
    {{ partial "head.html" . }}
</head>

<body class="brand-secondary">

  {{ partial "header_uoc.html" . }}

  <main id="main" class="site-main" role="main">
      <div class="container">
          
      {{ partial "title.html" . }}

      <div class="row">
            <div class="col-md-8">            

              <h1 class="font-alternate">{{ .Title }}</h1>
                          
              {{ range where .Paginator.Pages "Section" "posts" }}
                {{ partial "post-home.html" . }}
              {{ end }}
                
            </div><!-- row -->

              {{ template "_internal/pagination.html" . }}

              {{ partial "categories.html" . }}
          

      </div><!-- container -->
  </main>

  {{ partial "footer.html" . }}


</body>

</html>