<!DOCTYPE html>
<html lang="ca">

<head>
    {{ partial "head.html" . }}
</head>

<body class="brand-secondary">

  {{ partial "header_uoc.html" . }}

  <main id="main" class="site-main" role="main">
      <div class="container">
          
      {{ partial "title.html" . }}

      <div class="row">
            <div class="col-md-8">            

              <h1 class="font-alternate">{{ .Title }}</h1>

              {{ if ne .Section "pages" }}
                {{ range where .Paginator.Pages "Section" "posts" }}
                  {{ partial "post-home.html" . }}
                {{ end }}
              {{ end }}

              {{ if eq .Section "pages" }}
                {{ range where .Paginator.Pages "Section" "pages" }}
                    <div class="m-bottom-6y">
                      <div class="block-post-without-img">
                          <a href="{{ .URL }}">
                            <h2 class="font-alternate"><span class="highlighted">{{ .Title }}</span></h2>
                          </a>
                          <div class="color-grey-dark">
                            <p>{{ .Description}}</p>
                          </div>
                      </div>
                    </div>                  
                {{ end }}
              {{ end }}

                
            </div><!-- row -->

              {{ template "_internal/pagination.html" . }}

              {{ if ne .Section "pages" }}
               {{ partial "categories.html" . }}
              {{ end }}        

      </div><!-- container -->
  </main>

  {{ partial "footer.html" . }}


</body>

</html>