<div class="block-content-entry">
  <div class="wrap-content">
    {{ if ne .Params.categories nil}}
    <span class="uppercase-block color-grey-dark">
      <span class="entry-category">
        {{$ncat := (len .Params.categories)}}
        {{ if gt $ncat 0 }}
          {{ range $index, $category := .Params.categories }}
            {{ $category }} {{ if lt (add $index 1) $ncat }}, {{ end }}
          {{ end }}        
        {{ end }}        
      </span>
    </span>
    {{ end }}        
    <h1 class="font-alternate p-top-3y p-bottom-2y">{{ .Title }}</h1>
    <span class="uppercase-block color-grey-dark m-right-3x">{{ .Params.author }}</span>
    <span class="uppercase-block color-grey-dark">{{ partial "post-date.html" .}}</span>
        <div class="p-top-3y p-bottom-2y color-grey-dark content__container">
        {{ $media := .Params.media }}

        {{ if $media }}

          {{ $mediaPage := .Site.GetPage "page" "media/index.md"}}
          {{ $mediagallery := .Site.GetPage "page" (print "gallery/" (lower .Params.media) ".md") }}
            
            {{ if $mediagallery }}

              {{ $image := (replace $mediagallery.Params.image "/ca/media/" "") }}
              {{ $resource := $mediaPage.Resources.GetMatch $image }}
                
              {{ if $resource }}
                
                {{ $caption := (index $mediagallery.Params (print "title_" $.Lang)) }}

                {{ if $caption }}
                <figure>
                {{ end }}

                {{ $small := $resource.Resize "300x" }} 
                {{ $large := $resource }}
                {{ if gt $resource.Width 600 }}                  
                  {{ $large := $resource.Resize "600x" }} 
                {{ end }}

                  <picture>
                    <!-- Large screens -->
                    <source
                      media="(min-width: 535px)"
                      srcset="{{ $large.RelPermalink }}">
                    <!-- Small screens -->
                    <source
                      media="(max-width: 534px)"
                      srcset="{{ $small.RelPermalink }}">
                    <!-- Fallback -->
                    <img src="{{ $large.RelPermalink }}" />
                  </picture>
                {{ if $caption }}
                  <figcaption>{{ $caption }}</figcaption>
                </figure>
                {{ end }}        


              {{ end }}

          {{ end }}
        {{ end }}
        <p>{{ markdownify .Description }}</p>
        <p>{{ .Content }}</p>
    </div>
  </div>
</div>
