<div class="block-content-entry">
  <div class="wrap-content">
    {{ if ne .Params.categories nil}}
    <span class="uppercase-block color-grey-dark">
      <span class="entry-category">
        {{$ncat := (len .Params.categories)}}
        {{ if gt $ncat 0 }}
          {{ range $index, $category := .Params.categories }}
            {{ $category }} {{ if lt (add $index 1) $ncat }}, {{ end }}
          {{ end }}        
        {{ end }}        
      </span>
    </span>
    {{ end }}        
    <h1 class="font-alternate p-top-3y p-bottom-2y">{{ .Title }}</h1>
    <span class="uppercase-block color-grey-dark m-right-3x">{{ .Params.author }}</span>
    <span class="uppercase-block color-grey-dark">{{ partial "post-date.html" .}}</span>
        <div class="p-top-3y p-bottom-2y color-grey-dark content__container">
        {{ $image := .Params.image }}
        {{ if $image }}
          {{ with .Site.GetPage "page" "media/index.md" }}
            {{ $resources := .Resources.Match $image }}
            {{ range $resources }}
              {{ with . }}
                {{ $image400x := .Resize "400x" }}
                <!--img src="{{ $image400x.RelPermalink }}"-->
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}

        {{ $media := .Params.media }}
        {{ with .Site.GetPage "page" "media/index.md" }}
          {{ $mediapage := .Resources.GetMatch (print $media ".md") }}
          {{ $mediaimage := .Resources.GetMatch $mediapage.Params.image }}
          <img src="{{ $mediaimage.RelPermalink }}" />
        {{ end }}

        <p>{{ .Description }}</p>
    </div>
  </div>
</div>
